#editor-card {
    min-height: calc(100vh);
}

.editor {
    min-height: calc(95vh);
    color: black;
}

.media-player {
    grid-column: 1 / 10;
    grid-row: 1 / 1;
}

#playback-rate-container {
    display: inline-block;
    grid-column: 1 / 4;
    grid-row: 2 / 2;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

}
