/* .media-player {
    grid-column: 1 / 10;
    grid-row: 1 / 1;
} */

:root {
  --dark-mode-foreground-color: #ececec;
  --dark-mode-background-color: #222831;
}

fieldset {
  border: none;
}

.Pane1 {
  height: 100%;
}

.Pane2 {
  font-family: sans-serif;
  height: 100%;
  overflow-y: auto;
  padding: 5%;
}

#playback-rate-container {
  border: none;
  display: inline-block;
  font-family: sans-serif;
  grid-column: 1 / 4;
  grid-row: 2 / 2;
}

video#media-player {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  #playback-rate-container {
    color: var(--dark-mode-foreground-color);
  }

  .Pane1 {
    background-color: var(--dark-mode-background-color);
  }

  .Pane2 {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-foreground-color);
  }
}
