#editor-card {
    min-height: calc(95vh);
}

.editor {
    max-height: calc(95vh);
    color: black;
}

.media-player {
    grid-column: 1 / 10;
    grid-row: 1 / 1;
}

.Pane2 {
    overflow-y: auto;
}

#playback-rate-container {
    display: inline-block;
    grid-column: 1 / 4;
    grid-row: 2 / 2;
}
